/*
	Hoja de estilos para Calendario de RIU por BDT 
	Fecha de Creacion:26/Dic/2011
	Hora de Creacion: 11:59 PM
	Autor: Julian Tun
	Modificaciones:
	1. 21/Dic/2011. Se crea la hoja de estilos, con todas las clases (Julian Tun)
*/
.datepick-popup { z-index:10; width:376px !important; height:223px !important; overflow:hidden; background-color:#EEEEEE; border:1px solid #DDD; border-radius:3px; -moz-border-radius:3px; font-family:Tahoma,Arial, Verdana !important; font-size:13px; color:#FFF; }
.datepick.datepick-multi { width:376px !important; height:223px !important; }
.datepick-nav { display:none !important; }
#datepick-nav { width:368px; height:29px; float:left; background-color:#3F93D9; display:inline-block !important; margin-left:3px; margin-top:3px; line-height:31px; border-radius:3px; -moz-border-radius:3px; border:1px solid #2B4889; color:#FFF; font-size:14px; font-family:Tahoma,Arial,Verdana !important; }
.datepick-month-row { width:370px !important; height:192px !important; float:left; overflow:hidden;  }
.datepick-month { width:170px !important; height:192px !important; float:left; display:inline-block; margin-left:10px; overflow:hidden;  }
.datepick-month-header { display:none !important; }
.datepick-month  table { font-family:Arial, Verdana !important; font-size:13px; margin:0px; padding:0px; border:0px; }
.datepick-month  table thead { width:170px; font-size:13px; font-weight:bold; color:#333333; height:26px; line-height:26px; font-family:Tahoma, Arial, Verdana !important; }
.datepick-month  table thead th { width:24px; height:26px; }
.datepick-month  table tbody td { width:24px; height:24px; margin:0px; padding:0px; border:0px; }
.datepick-other-month { display:none !important; }
.datepick-month  table tbody td span { width:20px; height:20px; display:inline-block; border:1px solid #E2E2E2; background-color:#F2F2F2; color:#A5CFDF; text-align:center; line-height:20px; }
.datepick-today { width:20px; height:20px; display:inline-block; border:1px solid #FED22F !important; background-color:#FFF0A5 !important; color:#363636 !important; text-decoration:none; line-height:20px; text-align:center;  } 
.datepick-month  table tbody td a { width:20px; height:20px; display:inline-block; border:1px solid #CCCCCC; color:#1C94C4; background-color:#F9F9F9; text-decoration:none; line-height:20px; text-align:center; }
.datepick-month  table tbody td a:hover { line-height:20px; width: 20px; height: 20px; border: 1px solid #3F93D9 !important; color:#fff !important; background-color:#3F93D9 !important; }
.datepick-cmd-today { display:none !important; }
#datepick-cmd-prev { width:29px; height:29px; display:inline-block; background: transparent url(../img/mntleft.jpg) no-repeat center bottom; font-size:1px; text-align:left; color:#F6AF39; float:left; outline:none none; }
#datepick-cmd-next   { width:29px; height:29px; display:inline-block; background: transparent url(../img/mntright.jpg) no-repeat center bottom; font-size:1px; text-align:left; color:#F6AF39; float:right; outline:none none; }
.datepick-disabled  { background-position: center top !important; }
.NewControlsCalendar { width:306px; height:29px; line-height:29px; float:left; }
.dtpkmes { width:153px; border-right:1px solid #2B4889; height:29px; display:inline-block; float:left; font-weight:bold; text-align:center; }
.month2 { height:29px; display:inline-block; float:left; font-weight:bold; text-align:center; width:152px; }
.datepick-ctrl { display:none !important; }
.datepick-popup .selectedDay { background-color:#95B2CA; color: #fff; border: solid 1px #95B2CA;}
.datepick-popup .selectedFrom { line-height:22px; background: url('../img/calArr.png') transparent no-repeat left center !important; border: none !important; color: #fff !important; width: 22px; height: 22px; }
.datepick-popup .selectedTo {  line-height:22px; background: url('../img/calArr.png') transparent no-repeat right center !important; border: none !important; color: #fff !important; width: 22px; height: 22px; }
.datepick-selected { background-color:#3F93D9 !important; color: #fff !important; border: solid 1px #3F93D9 !important; }